<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>
	<script type="text/javascript">
        window.BACKEND_VAR = {
            user: {
                email: '<%= email%>',
                username: '<%= username%>',
                userid: '<%= userid%>'
            }
        };
    </script>
<link href="./build/styles/index.css" rel="stylesheet"></head>
<body>
	<div id="app"></div>
<script type="text/javascript" src="./build/index.js"></script></body>
</html>