<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>
<link href="/build/index.css" rel="stylesheet"></head>
<script>
    window.BACKEND_VAR = {
        user: {
            userName: '<%=userName%>',
            id: '<%=id%>',
            email: '<%=email%>'
        }
    };
</script>
<body>
	<div id="app"></div>
<script type="text/javascript" src="/build/index.js"></script></body>
</html>