<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= title %></title>
</head>
<body>
	<div id="chat-list">
		<ul v-for="user in users">
			<li v-on:click="requestVideo($event)" id="{{ user.id }}">
				<video src="{{ user.videoStream}}" autoplay="" id="camera_box"></video>
				<a>{{ user.text }}</a>
			</li>
		</ul>
	</div>
	<script type="text/javascript" src="/libs/peer.js"></script>
	<script type="text/javascript" src="/libs/socket.io-1.2.0.js"></script>
	<script type="text/javascript" src="/libs/vue.js"></script>
	<script type="text/javascript" src="/javascripts/index.js"></script>
</body>
</html>