extends layout

block content
  h1=title
  p Welcome to #{title}
  video(id='camera_box',autoplay='',src='')
  script(type='text/javascript',src='/libs/peer.js')
  script(type='text/javascript',src='https://cdn.socket.io/socket.io-1.2.0.js')
  script(type='text/javascript',src='/javascripts/index.js')
